@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root{
    --primary-bg-color: #F7F4F7;
    --secondary-bg-color: #fff;
    --primary-color: #00dac4b8;
    --secondary-color: #a4b0c6;
    --text-color: #09100c;

    --active-bg-color:  #0000000e;
    --hover-color: #00000009;
    --active-hover-color: #00000015;
    --active-click-color: #00000021;
}

.dark-mode{
    --primary-bg-color: #1B1B1B;
    --secondary-bg-color: #0B0B0B;
    --primary-color: #00dac4b8;
    --secondary-color: #39455b;
    --text-color: #ffffff99;

    --active-bg-color:  #ffffff0e;
    --hover-color: #ffffff09;
    --active-hover-color: #ffffff15;
    --active-click-color: #ffffff1f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color .1s;
}